In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import metrics

In [ ]:
df = pd.read_csv('/diabetes.csv')

In [ ]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [ ]:
x = df.drop(['Outcome'],inplace=False,axis=1)

In [ ]:
y = df.Outcome

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.3)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
model = KNeighborsClassifier(n_neighbors=7)

In [ ]:
model.fit(X_train,Y_train)

KNeighborsClassifier(n_neighbors=7)

In [ ]:
prediction = model.predict(X_test)

In [ ]:
from sklearn import metrics

In [ ]:
cs = metrics.confusion_matrix(Y_test,prediction)
print("Confusion matrix:\n",cs)

Confusion matrix:
 [[125  22]
 [ 39  45]]

In [ ]:
print("Accuracy:",metrics.accuracy_score(Y_test,prediction))

Accuracy: 0.7359307359307359

In [ ]:
total_misclassified = cs[0,1] + cs[1,0]
print(total_misclassified)
total_examples = cs[0,0]+cs[0,1]+cs[1,0]+cs[1,1]
print(total_examples)
print("Error rate",total_misclassified/total_examples)
print("Error rate",1-metrics.accuracy_score(Y_test,prediction))

61
231
Error rate 0.26406926406926406
Error rate 0.2640692640692641

In [ ]:
print("precision score",metrics.precision_score(Y_test,prediction))

precision score 0.6716417910447762

In [ ]:
print("Recall score",metrics.recall_score(Y_test,prediction))

Recall score 0.5357142857142857

In [ ]:
print("classification report",metrics.classification_report(Y_test,prediction))

classification report               precision    recall  f1-score   support

           0       0.76      0.85      0.80       147
           1       0.67      0.54      0.60        84

    accuracy                           0.74       231
   macro avg       0.72      0.69      0.70       231
weighted avg       0.73      0.74      0.73       231