In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv('emails.csv')

In [3]:
df.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [4]:
df.columns

Index(['Email No.', 'the', 'to', 'ect', 'and', 'for', 'of', 'a', 'you', 'hou',
       ...
       'connevey', 'jay', 'valued', 'lay', 'infrastructure', 'military',
       'allowing', 'ff', 'dry', 'Prediction'],
      dtype='object', length=3002)

In [5]:
df.isnull().sum()

Email No.     0
the           0
to            0
ect           0
and           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3002, dtype: int64

In [6]:
df.dropna(inplace=True)

In [7]:
df.isnull().sum()

Email No.     0
the           0
to            0
ect           0
and           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3002, dtype: int64

In [8]:
df.dtypes

Email No.     object
the            int64
to             int64
ect            int64
and            int64
               ...
military       int64
allowing       int64
ff             int64
dry            int64
Prediction     int64
Length: 3002, dtype: object

In [9]:
df.drop(['Email No.'],inplace=True,axis=1)

In [10]:
df.columns

Index(['the', 'to', 'ect', 'and', 'for', 'of', 'a', 'you', 'hou', 'in',
       ...
       'connevey', 'jay', 'valued', 'lay', 'infrastructure', 'military',
       'allowing', 'ff', 'dry', 'Prediction'],
      dtype='object', length=3001)

In [11]:
x = df.drop(['Prediction'],axis=1)
y = df['Prediction']

In [12]:
from sklearn.preprocessing import scale 
x = scale(x)

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.3,random_state=42)

In [15]:
from sklearn.neighbors import KNeighborsClassifier

In [16]:
KNN = KNeighborsClassifier(n_neighbors=7)

In [17]:
KNN.fit(X_train,Y_train)

KNeighborsClassifier(n_neighbors=7)

In [18]:
prediction = KNN.predict(X_test)

In [19]:
prediction

array([0, 0, 1, ..., 1, 1, 1])

In [20]:
from sklearn import metrics

In [21]:
print("Accuracy:",metrics.accuracy_score(Y_test,prediction))

Accuracy: 0.8009020618556701

In [22]:
print("Confusion_matrix:",metrics.confusion_matrix(Y_test,prediction))

Confusion_matrix: [[804 293]
 [ 16 439]]

In [23]:
from sklearn.svm import SVC

In [24]:
model = SVC(C=1)

model.fit(X_train,Y_train)

SVC(C=1)

In [25]:
prediction = model.predict(X_test)

In [26]:
metrics.accuracy_score(Y_test,prediction)

0.9381443298969072

In [27]:
metrics.confusion_matrix(Y_test,prediction)

array([[1091,    6],
       [  90,  365]])